/* 
1. Cambia el color del <header> con ID titulo a morado y centra el texto.

2. Aplica un fondo celeste claro a todas las secciones con clase seccion.

3. Cambia la fuente de todos los <p> a Arial, tamaño 14px.

4. Haz que los elementos con clase detalle tengan texto gris y en cursiva.

5. Estiliza el <footer> con color de fondo negro y texto blanco.

6. Aumenta el tamaño de la etiqueta <h1> a 28px. 
*/

#titulo {
    color: purple;
    text-align: center;
}

.seccion {
    background-color: lightblue;
}

p {
    font-family: Arial;
    font-size: 14px;
}

.detalle {
    color: gray;
    font-style: italic;
}

footer {
    background-color: black;
    color: white;
}

h1 {
    font-size: 28px;
}
